<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Login Saneamiento</title>
        <h:outputStylesheet name="theme.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout"/>
        <h:outputStylesheet name="css/layout-indigo.css" library="ultima-layout"/>
        
        
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
        
        <h:outputScript name="js/ripple.js" library="ultima-layout"/>
        <h:outputScript name="js/layout.js" library="ultima-layout"/>
        
    </h:head>
    <h:body class="login-body">
        <p:growl autoUpdate="true"/>
        <div class="card login-panel ui-fluid" style="margin-top: 20px">
            <div class="ui-g">
                <div class="ui-g-12">
                     <h1>SANEAMIENTO</h1>
                    <h:graphicImage  name="img/bar_chart.svg" width="100px" height="100px"/>
                </div>
                <h:form>
                    <div class="ui-g-12">
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText id="username" value="#{login.user}" autocomplete="off"/>
                            <p:outputLabel for="username" value="Usuario" />
                        </h:panelGroup>
                    </div>
                    <div class="ui-g-12">
                        <h:panelGroup styleClass="md-inputfield">
                            <p:password id="password" value="#{login.password}" autocomplete="off"/>
                            <p:outputLabel for="password" value="Contraseña" />
                        </h:panelGroup>
                    </div>
                    <div class="ui-g-12">
                        <p:commandButton value="Entrar" icon="ui-icon-person" action="#{login.login()}"/>
                        <p:commandLink value="¿Has olvidado los datos de la cuenta?" action="forgotpassword.xhtml?faces-redirect=true"/>
                    </div>
                </h:form>
            </div>
        </div> 
        <div class="login-footer">B-Tree</div>

    </h:body>

</html>