<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:pu="http://primefaces.org/ultima"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:form id="menuform">
        <div class="layout-menu">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <pu:menu>
                        <p:menuitem id="um_dashboard" value="PRINCIPAL" outcome="dashboard" icon="map"/>                        
                        <c:forEach items="#{dashboardBean.menu}" var="menu">
                            <p:submenu label="#{menu.descripcion}" icon="#{menu.icono}">
                                    <c:forEach items="#{dashboardBean.getProgramas(menu)}" var="m">
                                        <p:menuitem  value="#{m.descripcion}" outcome="#{m.url}"/>
                                    </c:forEach>
                            </p:submenu>
                        </c:forEach>
                    </pu:menu>
                </div>
            </div>
        </div>
    </h:form>

</ui:composition>
