<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div class="topbar clearfix">
        <div class="topbar-left"> 
            
          <div class="logo"></div>
            
        </div>

        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i></i>
            </a>

            <a id="topbar-menu-button" href="#">
                <i class="material-icons">menu</i>
            </a>
            <ul class="topbar-items fadeInDown animated">
                <li>
                    <p:commandLink action="#{dashboardBean.logout}">
                        <i class="topbar-icon material-icons animated swing">power_settings_new</i>
                        <span class="topbar-item-name">Logout</span>
                    </p:commandLink>
                </li>
                <li class="profile-item">
                    
                        <span class="topbar-item-name topbar-icon">#{login.usuario.usuario}</span>
                        
                    
                </li>
            </ul>
        </div>
    </div>

</ui:composition>
