<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">Beneficiario</ui:define>
    <ui:define name="content">
        <script src="https://maps.google.com/maps/api/js?key=#{properties.APIKEY}" type="text/javascript"></script>
        <p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar" closeOnEscape="false" header="#{beneficiarioBean.editActive?'Editar Beneficiario':'Nuevo Beneficiario'}" modal="true" resizable="false"
                  appendTo="@(body)" visible="#{beneficiarioBean.visibleNuevoEditar}" closable="false" width="90%" >
            <h:form id="frmDatos">

                <div align="right" style="padding: 5px">
                    <p:commandButton id="btnGuardar" value="Guardar" icon="ui-icon-save" actionListener="#{beneficiarioBean.save()}"
                                     update=":dlgNuevoEditarId :frmDatos :frmDetalle" style="width: 100px; margin-right:5px" />
                    <p:commandButton id="btnSalir" value="Salir" process="@this" icon="ui-icon-exit-to-app" actionListener="#{beneficiarioBean.setVisibleNuevoEditar(false)}"
                                     update=":dlgNuevoEditarId" style="width: 100px"/>
                </div>
            
                <p:messages/>
                <p:scrollPanel style="height:550px;">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                                                         
                               
                                    
                            <p:panel id="panelData"  >
                              <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group">
                                    <p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Beneficiario" required="true" requiredMessage="Ingrese un nombre "
                                                             value="#{beneficiarioBean.beneficiarioSelected.nombre}" />
                                                <p:outputLabel  value="Nombres y Apellidos" />
                                            </h:panelGroup>
                                            <br/>
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="epsa" 
                                                             value="#{beneficiarioBean.beneficiarioSelected.codigoepsa}"/>
                                                <p:outputLabel  value="Código EPSA" />
                                            </h:panelGroup>
                                            <br/>
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Distrito" 
                                                             value="#{beneficiarioBean.beneficiarioSelected.distrito}"/>
                                                <p:outputLabel  value="Distrito" />
                                            </h:panelGroup>
                                            <br/>
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Entidad" 
                                                             value="#{beneficiarioBean.beneficiarioSelected.entidad}"/>
                                                <p:outputLabel  value="Entidad" />
                                            </h:panelGroup>
                                            <br/>
                                            
                                                
                                            <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">                                         

                                            <p:selectBooleanCheckbox value="#{beneficiarioBean.beneficiarioSelected.autorizamonitoreo}" itemLabel="Autoriza Monitoreo" title="title" style="width: 400px"/>
                                            <p:selectBooleanCheckbox value="#{beneficiarioBean.beneficiarioSelected.programaproteccion}" itemLabel="Programa protección" title="title" style="width: 400px"/>

                                            </p:panelGrid>
                                               
                                            
                                            
                                    </p:panelGrid>
                                    <p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                        <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Direccion" required="true" requiredMessage="Ingrese un nombre para el servicio"
                                                                 value="#{beneficiarioBean.beneficiarioSelected.direccion}" />
                                                <p:outputLabel  value="Dirección" />
                                        </h:panelGroup>
                                        <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">        
                                        <h:panelGroup styleClass="md-inputfield">
                                             <p:inputText disabled="true" id="latitud" label="Latitud"
                                                          value="#{beneficiarioBean.beneficiarioSelected.lat}"
                                                          />
                                             <p:outputLabel for="latitud" value="Latitud" />
                                         </h:panelGroup>

                                         <h:panelGroup styleClass="md-inputfield">
                                             <p:inputText disabled="true" id="longitud" label="Longitud"
                                                          value="#{beneficiarioBean.beneficiarioSelected.lon}"/>
                                             <p:outputLabel for="longitud" value="Longitud" />
                                         </h:panelGroup>
                                    </p:panelGrid>
                                    <p:gmap id="gmap" widgetVar="gmap" center="#{beneficiarioBean.marker.latlng.lat},#{beneficiarioBean.marker.latlng.lng}" zoom="16" type="ROADMAP"  model="#{beneficiarioBean.draggableModel}" style="width:100%;height:330px">
                                     <p:ajax event="markerDrag" listener="#{beneficiarioBean.onMarkerDrag}" update="latitud longitud"/>
                                    </p:gmap>
                                            
                                    </p:panelGrid>
                              </p:panelGrid>
                            </p:panel>
                                    
                                    
                               
                          
                        </div>
                    </div>

                </p:scrollPanel>
            </h:form>
        </p:dialog>
        
        

        <h:form id="frmDetalle">
            <div align="right" >
                <p:commandButton value="Nuevo" icon="ui-icon-add" style="width:140px;"
                                 actionListener="#{beneficiarioBean.create()}" update=":dlgNuevoEditarId :frmDatos" />
            </div>
            <br />
            <p:dataTable var="row" reflow="true" value="#{beneficiarioBean.beneficiarioList}" paginator="true" rows="10" first="0"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" selectionMode="single" selection="#{beneficiarioBean.beneficiarioSelected}" rowKey="#{row.beneficiarioid}">

                <f:facet name="header">LISTA DE BENEFICIARIOS</f:facet>
                <p:column headerText="BENEFICIARIO" >
                    <h:outputText value="#{row.nombre}" />
                </p:column>
                <p:column headerText="COD.EPSA" width="10%">
                    <h:outputText value="#{row.codigoepsa}" />
                </p:column>
                 <p:column headerText="ENTIDAD" width="12%" >
                     <h:outputText value="#{row.entidad}"  />
                </p:column>
                <p:column headerText="DISTRITO" width="10%" >
                    <h:outputText value="#{row.distrito}" />
                </p:column>
                <p:column headerText="AUTORIZA" style="text-align: center;" width="10%">
                    <h:outputText value="#{row.autorizamonitoreo?'SI':'NO'}" />
                </p:column>
                <p:column headerText="P. PROTECCIÓN" style="text-align: center;" width="12%">
                    <h:outputText value="#{row.programaproteccion?'SI':'NO'}" />
                </p:column>
                
                <p:column headerText="ACCIONES" style="text-align: center; " width="10%" >
                    <p:commandLink id="editLink" title="Editar Servicio"
                                   actionListener="#{beneficiarioBean.edit(row)}" update=":dlgNuevoEditarId :frmDatos">
                        <i class="material-icons">edit</i>
                    </p:commandLink>


                    <p:commandLink id="deleteLink" title="Eliminar Servicio"
                                   actionListener="#{beneficiarioBean.delete(row)}" update=":frmDetalle">
                        <i class="material-icons">delete</i>
                        <p:confirm header="Confirmación"  message="¿Esta seguro que desea eliminar este registro?" icon="ui-icon-alert" />
                    </p:commandLink>
                    
                    
                </p:column>
            </p:dataTable>
        </h:form>
        
        
    </ui:define>
</ui:composition>