<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Dashboard</ui:define>
    <ui:define name="content">
       
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <h:form id="frmDatos">
                    <div>
                    </div>
                </h:form>
            </div>
        </div>

        
    </ui:define>

</ui:composition>