<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">Aducción</ui:define>
    <ui:define name="content">
        <script src="https://maps.google.com/maps/api/js?key=#{properties.APIKEY}" type="text/javascript"></script>
        <p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar" closeOnEscape="false" header="#{plantaTratamientoBean.editActive?'Editar':'Nuevo'} - #{plantaTratamientoBean.plantaTramientoSelected.plaNombre}" modal="true" resizable="false"
                  appendTo="@(body)" visible="#{plantaTratamientoBean.visibleNuevoEditar}" closable="false" width="80%" >
            <h:form id="frmDatos">


                <div align="right" style="padding: 5px">
                    <p:commandButton id="btnGuardar" value="Guardar" icon="ui-icon-save" actionListener="#{plantaTratamientoBean.save()}"
                                     update=":dlgNuevoEditarId :frmDatos :frmDetalle" style="width: 100px; margin-right:5px" />
                    <p:commandButton id="btnSalir" value="Salir" process="@this" icon="ui-icon-exit-to-app" actionListener="#{plantaTratamientoBean.setVisibleNuevoEditar(false)}"
                                     update=":dlgNuevoEditarId" style="width: 100px"/>
                </div>

                <p:messages/>
                <p:scrollPanel style="height:550px;">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <div class="card card-w-title">
                                <h1>Datos generales</h1>
                                <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                    <h:panelGroup>
                                        <p:outputLabel for="check"  value="¿Data automática?" />
                                        <p:selectBooleanCheckbox id="check" value="#{plantaTratamientoBean.plantaTramientoSelected.plaDataAutomatica}"/>
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText label="Código modem" 
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaCodigoModen}" required="true" maxlength="50" requiredMessage="Código requerido" />
                                        <p:outputLabel  value="Código modem" />
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText label="Nombre" required="true" requiredMessage="Debe ingresar nombre"
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaNombre}"/>
                                        <p:outputLabel  value="Nombre" />
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText label="Caracteristicas generales" required="true" requiredMessage="Debe ingresar caracteristicas"
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaCaracteristicas}"/>
                                        <p:outputLabel  value="Caracteristicas generales" />
                                    </h:panelGroup>
                                    <p:fileUpload  mode="advanced" auto="true" dragDropSupport="false" fileUploadListener="#{plantaTratamientoBean.handleFileUpload}"
                                                   multiple="false" sizeLimit="10000000" cancelLabel="Cancelar" label ="Imagen informativa" allowTypes="/(\.|\/)(jpe?g|png)$/" 
                                                   update="gimPhoto3"/>
                                    <p:graphicImage id="gimPhoto3" value="#{plantaTratamientoBean.obtenerPathImagen(plantaTratamientoBean.pathTemporal)}"  width="150" height="100" cache="false"/>
                                </p:panelGrid>
                            </div>
                            <div class="card card-w-title">
                                <h1>Datos tecnicos</h1>
                                <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputNumber label="Capacidad" required="true" requiredMessage="Debe ingresar capacidad"
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaCapacidad}"/>
                                        <p:outputLabel  value="Capacidad (m3)" />
                                    </h:panelGroup>
                                </p:panelGrid>
                            </div>
                            <div class="card card-w-title">
                                <h1>Información adicional</h1>
                                <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                    
                                    <p:fileUpload  mode="advanced" auto="true" dragDropSupport="false" fileUploadListener="#{plantaTratamientoBean.handleFileUploadInfoAdicional}"
                                                       multiple="false" sizeLimit="10000000" cancelLabel="Cancelar" label ="Información adicional" allowTypes="/(\.|\/)(pdf)$/" 
                                                       update="pdf"/>
                                    <p:outputLabel id="pdf" value="#{plantaTratamientoBean.filenameInformacionAdicional}" />
                                    <h:panelGroup>
                                        <p:outputLabel for="padre" value="Circuito" />
                                        <p:selectOneMenu required="true" requiredMessage="Seleccione un circuito" id="padre" value="#{plantaTratamientoBean.plantaTramientoSelected.plaCircuitoid}"
                                                         converter="#{circuitoHidrometricoConverter}" filterMatchMode="contains" filter="true">
                                            <f:selectItem itemLabel="Ninguno" itemValue="" />
                                            <f:selectItems value="#{plantaTratamientoBean.circuitosHidrometricos}" var="c" itemLabel="#{c.cirNombre}" itemValue="#{c}" />
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                    <h:panelGroup>
                                        <p:outputLabel for="estacionB" value="Fuente de abastecimiento" />
                                        <p:selectOneMenu required="true" id="estacionB" requiredMessage="Seleccione una fuente de abastecimiento" value="#{plantaTratamientoBean.plantaTramientoSelected.plaFuenteid}"
                                                         converter="#{fuenteAbastecimientoConverter}" filterMatchMode="contains" filter="true">
                                            <f:selectItem itemLabel="Ninguno" itemValue="" />
                                            <f:selectItems value="#{plantaTratamientoBean.fuentesAbastecimiento}" var="e" itemLabel="#{e.fueNombre}" itemValue="#{e}" />
                                        </p:selectOneMenu>
                                    </h:panelGroup>
                                </p:panelGrid>
                            </div>
                            <div class="card card-w-title">
                                <h1>Ubicación Geográfica</h1>
                                <p:panelGrid layout="grid" columns="2" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText label="Dirección" required="true" requiredMessage="Debe ingresar dirección"
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaDireccion}"/>
                                        <p:outputLabel  value="Dirección" />
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText disabled="true" required="true" requiredMessage="Debe ingresar coordenadas en el mapa" id="latitud" label="Latitud" 
                                                     value="#{plantaTratamientoBean.plantaTramientoSelected.plaLatitud}"/>
                                        <p:outputLabel  value="Latitud" />
                                    </h:panelGroup>
                                    <h:panelGroup styleClass="md-inputfield">
                                        <p:inputText  disabled="true" id="longitud" required="true" requiredMessage="Debe ingresar coordenadas en el mapa" label="Longitud" 
                                                      value="#{plantaTratamientoBean.plantaTramientoSelected.plaLongitud}"/>
                                        <p:outputLabel  value="Longitud" />
                                    </h:panelGroup>

                                </p:panelGrid>
                                <p:gmap id="gmap" widgetVar="gmap" center="#{plantaTratamientoBean.marker.latlng.lat},#{plantaTratamientoBean.marker.latlng.lng}" zoom="16" type="ROADMAP"  model="#{plantaTratamientoBean.draggableModel}" style="width:100%;height:400px">
                                    <p:ajax event="markerDrag" listener="#{plantaTratamientoBean.onMarkerDrag}" update="latitud longitud"/>
                                </p:gmap>
                            </div>
                        </div>
                    </div>

                </p:scrollPanel>
            </h:form>
        </p:dialog>
        
        <p:dialog id="dlgPdf" visible="#{plantaTratamientoBean.isDialogVisiblePdf}"
                                      closeOnEscape="false" 
                                      header="Documento" modal="true" resizable="false"
                                      appendTo="@(body)" closable="false">
                                <div align="right">
                                    <p:commandButton id="btnSalirPagos" value="Salir" process="@this" icon="ui-icon-exit-to-app" actionListener="#{plantaTratamientoBean.setIsDialogVisiblePdf(false)}"
                                                     update=":dlgPdf"/>
                                </div>
            <object type="application/pdf" name="Información adicional" data="#{request.contextPath}/pdf/#{plantaTratamientoBean.plantaTramientoSelected.plaInformacionAdicional}" width="800px" height="600px" internalinstanceid="7" title="Información Adicional">
                Tu navegador no puede mostrar pdf. <a href="#{request.contextPath}/pdf/#{plantaTratamientoBean.plantaTramientoSelected.plaInformacionAdicional}">click</a> para descargar el pdf.
                                </object>
        </p:dialog>

        <h:form id="frmDetalle">
            <div align="right" >
                <p:commandButton value="Nuevo" icon="ui-icon-add" style="width:140px;"
                                 actionListener="#{plantaTratamientoBean.create()}" update=":dlgNuevoEditarId :frmDatos" />
            </div>
            <br />
            <p:dataTable var="row" reflow="true" value="#{plantaTratamientoBean.plantasTratamiento}" paginator="true" rows="10" first="0"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" selectionMode="single" selection="#{plantaTratamientoBean.plantaTramientoSelected}" rowKey="#{row.id}">

                <f:facet name="header">LISTA DE PLANTAS DE TRATAMIENTO</f:facet>

                <p:column headerText="NOMBRE" style="text-align: center;">
                    <h:outputText value="#{row.plaNombre}" />
                </p:column>
                <p:column headerText="CÓDIGO MODEM" style="text-align: center;">
                    <h:outputText value="#{row.plaCodigoModen}" />
                </p:column>
                
                <p:column headerText="PARAMETROS DE MEDICIÓN" style="text-align: center;">
                    <p:commandLink title="Parametros de medición"
                                   action="#{plantaTratamientoBean.goToParametros(row)}">
                        <i class="material-icons">crop</i>
                    </p:commandLink>
                </p:column>
                <p:column headerText="ACCIONES" style="text-align: center;">
                    <p:commandLink id="editLink" title="Editar Planta de tratamiento"
                                   actionListener="#{plantaTratamientoBean.edit(row)}" update=":dlgNuevoEditarId :frmDatos">
                        <i class="material-icons">edit</i>
                    </p:commandLink>


                    <p:commandLink id="deleteLink" title="Eliminar Planta de tratamiento"
                                   actionListener="#{plantaTratamientoBean.delete(row)}" update=":frmDetalle">
                        <i class="material-icons">delete</i>
                        <p:confirm header="Confirmación"  message="¿Esta seguro que desea eliminar este registro?" icon="ui-icon-alert" />
                    </p:commandLink>
                    
                    <p:commandLink disabled="#{row.plaInformacionAdicional==null || row.plaInformacionAdicional==''}" title="Ver documento" update=":dlgPdf" actionListener="#{plantaTratamientoBean.verDocumento(row)}" style="margin-right: 80px;">
                        <i class="material-icons">picture_as_pdf</i>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>