<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="content">

        <h:form id="frmDetalle">
            <p:confirmDialog global="true">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
            </p:confirmDialog>

            <h1>GESTIÓN DE PROGRAMAS</h1>

            <p:commandButton value="Nuevo" icon="ui-icon-document" style="width:140px;"
                             actionListener="#{programaBean.create()}" update=":dlgNuevoEditarId :frmDatos" />

            <br />

            <p:dataTable var="row" value="#{programaBean.programas}" paginator="true" rows="10" first="0"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" rowKey="#{row.programaid}">
                <f:facet name="header">LISTA DE PROGRAMAS</f:facet>

                <p:column style="text-align: left;" headerText="ACCIONES" width="10%">
                    <p:commandLink id="editLink"
                                   actionListener="#{programaBean.edit(row)}" update=":dlgNuevoEditarId :frmDatos">
                        <i class="material-icons">edit</i>
                    </p:commandLink>

                    <p:commandLink id="deleteLink"
                                   actionListener="#{programaBean.delete(row)}" update=":frmDetalle">
                        <i class="material-icons">delete</i>
                        <p:confirm header="Confirmación" message="¿Esta seguro que desea eliminar este registro?" icon="ui-icon-alert" />
                    </p:commandLink>
                </p:column>

                <p:column style="text-align: left;" width="40%" filterBy="#{row.programadescripcion}" filterMatchMode="contains" headerText="PROGRAMA">
                    <h:outputText value="#{row.programadescripcion}" />
                </p:column>

                <p:column style="text-align: left;" filterBy="#{row.programamenupadre.programadescripcion}" width="25%" filterMatchMode="contains" headerText="MENU">
                    <h:outputText value="#{row.programamenupadre.programadescripcion}" />
                </p:column>

                <p:column filterBy="#{row.programaurl}" filterMatchMode="contains" width="25%" headerText="URL">
                    <h:outputText value="#{row.programaurl}" />
                </p:column>
                <p:column width="25%" headerText="VISIBLE">
                    <h:outputText value="#{row.programavisible eq '1'? 'SI':'NO'}" />
                </p:column>
            </p:dataTable>

        </h:form>

        <p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar" closeOnEscape="false" header="Nuevo/editar Vista" modal="true" resizable="false"
                  appendTo="@(body)" visible="#{programaBean.visibleNuevoEditar}" closable="false">
            <h:form id="frmDatos">
                <div align="right" style="padding: 5px">
                    <p:commandButton id="btnGuardar" value="Guardar" actionListener="#{programaBean.save()}"
                                     update=":dlgNuevoEditarId :frmDatos :frmDetalle" />

                    <p:commandButton id="btnSalir" value="Salir" process="@this" actionListener="#{programaBean.setVisibleNuevoEditar(false)}"
                                     update=":dlgNuevoEditarId" />
                </div>
                <h:panelGrid columns="2">

                   
                    <p:outputLabel for="itNombre" value="Nombre:" />
                    <p:inputText id="itNombre" size="50" maxlength="60" value="#{programaBean.programaSelected.programadescripcion}" label="Nombre"
                                 >
                    </p:inputText>

                    <p:outputLabel value="Tipo:" />
                    <p:selectOneRadio id="selectTpVst" value="#{programaBean.programaSelected.programaesmenu}">
                        <f:selectItem itemLabel="Programa" itemValue="N" />
                        <f:selectItem itemLabel="Menu" itemValue="S" />
                        <p:ajax event="change"  update="dts" />
                    </p:selectOneRadio>
                </h:panelGrid>
                <p:outputPanel id="dts">
                    <p:panel id="idPnlTipoV" rendered="#{programaBean.programaSelected.programaesmenu eq 'N'}">
                        <f:facet name="header">
                            Información del programa
                        </f:facet>

                        <h:panelGrid columns="2">
                            <p:outputLabel for="selectMod" value="Menu:" />
                            <p:selectOneMenu id="selectMod" value="#{programaBean.programaSelected.programamenupadre}" converter="#{programaConverter}">
                                <f:selectItems var="modulo" value="#{programaBean.menu}" itemValue="#{modulo}" itemLabel="#{modulo.programadescripcion}" />
                            </p:selectOneMenu>

                            <p:outputLabel for="itPath" value="Path/url:" />
                            <p:inputText id="itPath" size="50" maxlength="100" value="#{programaBean.programaSelected.programaurl}" label="Descripción">
                            </p:inputText>

                            <p:outputLabel value="Visible:" />
                            <p:selectBooleanCheckbox value="#{programaBean.programaVisible}" label="Visible"/>

                        </h:panelGrid>

                    </p:panel>
                </p:outputPanel>
            </h:form>
        </p:dialog>


    </ui:define>
</ui:composition>