<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">Servicio</ui:define>
    <ui:define name="content">
        
        <p:dialog id="dlgNuevoEditarId" widgetVar="dlgNuevoEditar" closeOnEscape="false" header="#{servicioBean.editActive?'Editar Servicio':'Nueva Ruta'} - #{servicioBean.servicioSelected.nombre}" modal="true" resizable="false"
                  appendTo="@(body)" visible="#{servicioBean.visibleNuevoEditar}" closable="false" width="70%" >
            <h:form id="frmDatos">

                <div align="right" style="padding: 5px">
                    <p:commandButton id="btnGuardar" value="Guardar" icon="ui-icon-save" actionListener="#{servicioBean.save()}"
                                     update=":dlgNuevoEditarId :frmDatos :frmDetalle" style="width: 100px; margin-right:5px" />
                    <p:commandButton id="btnSalir" value="Salir" process="@this" icon="ui-icon-exit-to-app" actionListener="#{servicioBean.setVisibleNuevoEditar(false)}"
                                     update=":dlgNuevoEditarId" style="width: 100px"/>
                </div>
            
                <p:messages/>
                <p:scrollPanel style="height:400px;">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                                                         
                               
                                    
                            <p:panel id="panelData"  >
                                
                               <p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank form-group" columnClasses="label, value">
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Servicio" required="true" requiredMessage="Ingrese un nombre para el servicio"
                                                             value="#{servicioBean.servicioSelected.nombre}"/>
                                                <p:outputLabel  value="Servicio" />
                                            </h:panelGroup>
                                            <h:panelGroup styleClass="md-inputfield">
                                                <p:inputText label="Observacion" 
                                                             value="#{servicioBean.servicioSelected.observacion}"/>
                                                <p:outputLabel  value="Observación" />
                                            </h:panelGroup>
                                                
                                                                             
                                                
                                   <p:selectBooleanCheckbox value="#{servicioBean.servicioSelected.especificarcantidad}" itemLabel="Especificar Cantidad" title="title" style="width: 500px"/>
                                                                                     
                                            
                                 </p:panelGrid>
                            </p:panel>
                                    
                                    
                               
                          
                        </div>
                    </div>

                </p:scrollPanel>
            </h:form>
        </p:dialog>
        
        

        <h:form id="frmDetalle">
            <div align="right" >
                <p:commandButton value="Nuevo" icon="ui-icon-add" style="width:140px;"
                                 actionListener="#{servicioBean.create()}" update=":dlgNuevoEditarId :frmDatos" />
            </div>
            <br />
            <p:dataTable var="row" reflow="true" value="#{servicioBean.servicioList}" paginator="true" rows="10" first="0"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15" selectionMode="single" selection="#{servicioBean.servicioSelected}" rowKey="#{row.servicioid}">

                <f:facet name="header">LISTA DE SERVICIOS</f:facet>
                <p:column headerText="SERVICIO" >
                    <h:outputText value="#{row.nombre}" />
                </p:column>
                <p:column headerText="OBSERVACIÓN" >
                    <h:outputText value="#{row.observacion}" />
                </p:column>
                <p:column headerText="CANTIDAD" style="text-align: center;" width="10%">
                    <h:outputText value="#{row.especificarcantidad?'SI':'NO'}" />
                </p:column>
                
                <p:column headerText="ACCIONES" style="text-align: center; " width="10%" >
                    <p:commandLink id="editLink" title="Editar Servicio"
                                   actionListener="#{servicioBean.edit(row)}" update=":dlgNuevoEditarId :frmDatos">
                        <i class="material-icons">edit</i>
                    </p:commandLink>


                    <p:commandLink id="deleteLink" title="Eliminar Servicio"
                                   actionListener="#{servicioBean.delete(row)}" update=":frmDetalle">
                        <i class="material-icons">delete</i>
                        <p:confirm header="Confirmación"  message="¿Esta seguro que desea eliminar este registro?" icon="ui-icon-alert" />
                    </p:commandLink>
                    
                    
                </p:column>
            </p:dataTable>
        </h:form>
        
        
    </ui:define>
</ui:composition>