<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="title">servicio</ui:define>
    <ui:define name="content">       

        <h:form id="frmDetalle">            
            <p:panel header="FILTROS DE BUSQUEDA" toggleable="true" widgetVar="panelFiltros">
                <div class="ui-fluid">
                    <p:panelGrid id="filtros" columns="4" columnClasses="ui-grid-col-2" layout="grid" styleClass="ui-panelgrid-blank">                      
                        <p:outputLabel for="horai" value="Fecha de inicio:" />
                        <p:calendar id="horai" value="#{servicioReportBean.fechaInicial}" pattern="dd/MM/yyyy" locale="es" readonlyInput="true" showOn="button"/>
                        <p:outputLabel for="horaf" value="Fecha de fin:" />
                        <p:calendar id="horaf" value="#{servicioReportBean.fechaFinal}" pattern="dd/MM/yyyy" locale="es" readonlyInput="true" showOn="button"/>
                        <p:outputLabel value="Servicio:" />
                        <p:selectOneMenu  requiredMessage="Seleccione un servicio" value="#{servicioReportBean.servicio}"
                                          filterMatchMode="contains" filter="true">
                            <f:selectItem itemLabel="Todos" itemValue="" />
                            <f:selectItems value="#{servicioReportBean.servicios}" var="c" itemLabel="#{c.nombre}" itemValue="#{c.servicioid}" />
                        </p:selectOneMenu>
                        <p:outputLabel value="Beneficiario:" />
                        <p:selectOneMenu  value="#{servicioReportBean.beneficiario}" filterMatchMode="contains" filter="true">
                            <f:selectItem itemLabel="Todos" itemValue="" />
                            <f:selectItems value="#{servicioReportBean.beneficiarios}" var="s" itemLabel="#{s.nombre}" itemValue="#{s.beneficiarioid}" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Estado:" />
                        <p:selectOneMenu value="#{servicioReportBean.estadoSelected}">
                            <f:selectItem itemValue="" itemLabel="Todos" />
                            <f:selectItem itemValue="P" itemLabel="Pendiente" />
                            <f:selectItem itemValue="R" itemLabel="Realizado" />
                            <f:selectItem itemValue="C" itemLabel="Completado" />
                            <f:selectItem itemValue="A" itemLabel="Autorizado" />
                            <f:selectItem itemValue="M" itemLabel="Comercial" />
                        </p:selectOneMenu>
                        
                    </p:panelGrid>
                    <div align="right" style="padding: 5px">
                        <p:commandButton value="Buscar" icon="ui-icon-history" action="#{servicioReportBean.buscar()}"
                                         update="tabla" style="width: 100px; margin-right:5px" oncomplete="PF('panelFiltros').toggle();"/>
                        <p:commandButton value="Limpiar" icon="ui-icon-clear" actionListener="#{servicioReportBean.limpiar()}"
                                         update="filtros, tabla" style="width: 100px; margin-right:5px"/>
                    </div>
                </div>
            </p:panel>
           
            <p:dataTable var="row" id="tabla" reflow="true" value="#{servicioReportBean.peticionServicios}" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="10,15,20" rows="10" lazy="true"
                         selectionMode="single" selection="#{servicioReportBean.peticionSelected}" rowKey="#{row.serviciopeticionid}">

                <f:facet name="header">SOLICITUDES DE SERVICIO</f:facet>

                <p:column headerText="FECHA" style="text-align: center;" width="15%">
                    <h:outputText value="#{row.dtcreated}" >
                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column headerText="SERVICIO" >
                    <h:outputText value="#{row.servicioid.nombre}" style="text-align: left;" />
                </p:column>
                
                <p:column headerText="BENEFICIARIO" style="text-align: center;">
                    <h:outputText value="#{row.beneficiarioid.nombre}" />
                </p:column>
                <p:column headerText="RUTA" style="text-align: center;">
                    <h:outputText value="#{row.evaluacionid.rutadetid.rutaid.nombre}" />
                </p:column>
                <p:column headerText="EVALUACION" style="text-align: center;" width="10%">
                     <h:outputText value="#{row.evaluacionid!=null?row.evaluacionid.evaluacionid:'-'}" style="text-align: left;" />
                </p:column>
                <p:column headerText="CANT." style="text-align: center;" width="5%">
                    <h:outputText value="#{row.cantidad gt 0? row.cantidad:'-'}" />
                </p:column>
                <p:column headerText="ESTADO" style="text-align: center;" width="10%">
                        <h:outputText styleClass="label label-info labelStatus" value="Pendiente" rendered="#{row.estado == 'P'}" />
                        <h:outputText styleClass="label label-success labelStatus" value="Realizado" rendered="#{row.estado == 'R'}" />
                        <h:outputText styleClass="label label-info labelStatus" value="Completado" rendered="#{row.estado == 'C'}" />
                        <h:outputText styleClass="label label-warning labelStatus" value="Autorizado" rendered="#{row.estado == 'A'}" />
                        <h:outputText styleClass="label label-info labelStatus" value="Comercial" rendered="#{row.estado == 'M'}" />
                </p:column>
                <p:column headerText="ACCIONES" style="text-align: center;" width="10%">
                    <p:commandLink id="editLink" title="Cambiar Estado"
                                   actionListener="#{servicioReportBean.edit(row)}" >
                        <i class="material-icons">edit</i>
                    </p:commandLink>


                    <p:commandLink id="deleteLink" title="Eliminar Solicitud"
                                   actionListener="#{servicioReportBean.delete(row)}" update=":frmDetalle">
                        <i class="material-icons">delete</i>
                        <p:confirm header="Confirmación"  message="¿Esta seguro que desea eliminar este registro?" icon="ui-icon-alert" />
                    </p:commandLink>
                    
                   
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>